[submodule "ml-regl-js"]
	path = ml-regl-js
	url = https://github.com/elm-messenger/ml-regl-js
[submodule "declgl-desktop"]
	path = declgl-desktop
	url = https://github.com/elm-messenger/declgl-desktop
[submodule "lib/proto"]
	path = lib/proto
	url = https://github.com/elm-messenger/declgl-pb.git
